<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Socket-Paper-Scisors</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

  <!-- App CSS -->
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div id="vue-app" class="container-fluid d-flex h-100">
    <div class="w-100 align-self-center jumbotron">
      <h1 class="text-center">Socket Papers Scisors</h1>

      <div class="row">
        <join-form v-show="roomState === 'join'"></join-form>

        <queue v-show="roomState === 'queue'"></queue>

        <div id="players" class="row mx-auto w-100 my-5">
          <player v-if="playerInfo" v-bind:player="playerInfo"></player>
          <player v-if="opponent" v-bind:player="opponent"></player>
        </div>

        <choices v-show="roomState === 'game'"></choices>

      </div>
    </div>
  </div>

  <!-- JQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
    integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
    integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
    crossorigin="anonymous"></script>
  <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
  <!-- Socket.io -->
  <script src="/socket.io/socket.io.js"></script>
  <!-- Vue.js -->
  <script src="lib/vue.js"></script>
  <!-- App JS -->
  <script src="js/main.js"></script>
</body>

</html>